{% extends "system/user_home.html" %}
{% load staticfiles %}

{% block title %}
<title>Ibs| My Items</title>
{% endblock title %}

{% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">

                  {% if success %}
                    <div class="alert alert-success">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <strong>Success!</strong> {{ success }}
                    </div>
                  {% endif %}

                  {% if exist %}
                  <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Warning!</strong> {{ exist }}
                  </div>
                  {% endif %}
        <div class="span6">

          <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3>My posts| Looking For</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <ul class="news-items">
              {% for item in items %}
              {% if item.type_id.name == "Buy" %}
                <li>
                  <div class="news-item-date"> <span class="news-item-day">{{item.date_posted}}</span> <span class="news-item-month">{{item.month_posted}}</span> </div>
                  <div class="news-item-detail"> <a href="{% url "user_view" user_pk=item.user_id.pk %}" class="news-item-title" >You</a> posted <a href="{% url "item_view" item_pk=item.pk %}">{{item}}</a><a href="{% url "item_update" item_pk=item.pk %}"> |<i class="icon-pencil"> Update</i></a><a href="{% url "item_delete" item_pk=item.pk %}"> |<i class="icon-trash"> Delete</i></a>
                    <p class="news-item-preview">{{item.description}}</p>
                  </div>
                  
                </li>
               {% endif %}
               {% endfor %}
              </ul>
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
        </div>
        <!-- /span6 -->

        <div class="span6">

          <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3>My posts| For Sale</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <ul class="news-items">
              {% for item in items %}
              {% if item.type_id.name == "Sell" %}
                <li>
                  <div class="news-item-date"> <span class="news-item-day">{{item.date_posted}}</span> <span class="news-item-month">{{item.month_posted}}</span> </div>
                  <div class="news-item-detail"> <a href="{% url "user_view" user_pk=item.user_id.pk %}" class="news-item-title" >You</a> posted <a href="{% url "item_view" item_pk=item.pk %}">{{item}}</a><a href=""> |<i class="icon-pencil">Update</i></a><a href="{% url "item_delete" item_pk=item.pk %}"> |<i class="icon-trash"> Delete</i></a>
                    <p class="news-item-preview">{{item.description}}</p>
                  </div>
                  
                </li>
               {% endif %}
               {% endfor %}
              </ul>
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
        </div>
        <!-- /span6 -->

      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
{% endblock content %}