{% extends "system/user_home.html" %}
{% load staticfiles %}

{% block title %}
<title>Ibs| Update item</title>
{% endblock title %}

{% block landingpage %}
{% endblock landingpage %}

{% block content %}
<div class="main">
  
  <div class="main-inner">

      <div class="container">
  
        <div class="row">
          
          <div class="span12">          
            
            <div class="widget ">
              
              <div class="widget-header">
                <i class="icon-user"></i>
                <h3>Post Item</h3>
            </div> <!-- /widget-header -->
          
          <div class="widget-content">
            <br>
                <form method="POST" class="form-inline" enctype="multipart/form-data">
                  {% if success %}
                    <div class="alert alert-success">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <strong>Success!</strong> {{ success }}
                    </div>
                  {% endif %}

                  {% if exist %}
                  <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Warning!</strong> {{ exist }}
                  </div>
                  {% endif %}
                  
                            {% csrf_token %}
                  {{ form.as_p }}
                  {{ image_form.as_p }}
                  <button type="submit" class="btn btn-default">Post</button>
                </form>
            
          </div> <!-- /widget-content -->
            
        </div> <!-- /widget -->
            
        </div> <!-- /span8 -->
          
          
          
          
        </div> <!-- /row -->
  
      </div> <!-- /container -->
      
  </div> <!-- /main-inner -->
    
</div> <!-- /main -->
{% endblock content %}