{% extends "system/user_home.html" %}
{% load staticfiles %}

{% block title %}
<title>Ibs| My Items</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>My Posts</h1>
      {% for item in items %}
        <div class="col-sm-3">
            <h3 style="color:#4ba8ff">
                {{ item }}
            </h3>

            {% if item.type_id.name == 'Buy' %}
              <h5>Status: Looking for</h5>
              <h5>Buyer: {{ item.user_id.first_name }} {{ item.user_id.last_name }}</h5>
              <h5>Budget: Php {{ item.price }}</h5>
            {% endif %}

            {% if item.type_id.name == 'Sell' %}
              <h5>Status: {{ item.type_id }}</h5>
              <h5>Seller: {{ item.user_id.first_name }} {{ item.user_id.last_name }}</h5>
              <h5>Price: Php {{ item.price }}</h5>
            {% endif %}

            <h5>{{ item.post_date }}</h5>
            <a href="{% url "item_view" item_pk=item.pk %}">
              <button type="submit" class="btn btn-default">Check</button>
            </a>
        </div>
      {% endfor %}
</div>
      
</div>
{% endblock content %}