{% extends "system/index.html" %}
{% load staticfiles %}

{% block title %}
<title>Ibs| Home</title>
{% endblock title %}

{% block navbar %}
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-wrapper">
          <div class="container-fluid">
            <div class="navbar-header">
            <div class="navbar-brand">
                <a href="" style="text-decoration:none; color:#ffffff">
                    <img src="{% static "images/website/ibs_logo.png" %}" style="width:30px; height:30px;" title="Iligan Buy and Sell"> Iligan buy and sell
                </a>
            </div>
            </div>
            <div>
              <ul class="nav navbar-nav navbar-list">
                <li><a href="{% url "user_home" %}">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Post Item <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for type in types %}
                        <li><a href="{% url "item_add" type_pk=type.pk %}">{{ type }}</a></li>
                    {% endfor %}
                  </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse Items <span class="caret"></span></a>
                  <ul class="dropdown-menu">

                    <li><a href="{% url "item_browse_bytype" type_pk=1 %}">Looking For</a></li>
                    <li><a href="{% url "item_browse_bytype" type_pk=2 %}">For Sale</a></li>
                    <li><a href="{% url "item_browse" %}">All</a></li>

                  </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort by <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for category in categories %}
                    <li><a href="{% url "item_browse_bycategory" category_pk=category.pk %}">{{ category.name }}</a></li>
                    {% endfor %}
                  </ul>
                </li>

                <li><a href="{% url "about" %}">About</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.first_name }} {{ user.last_name }}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a style="background:lavender">User</a></li>
                    <li><a href="{% url "user_view" %}"><span class="glyphicon glyphicon-eye-open"></span> View profile</a></li>
                    <li><a href="{% url "user_update" %}"><span class="glyphicon glyphicon-pencil"></span> Edit profile</a></li>

                    <li role="separator" class="divider"></li>

                    <li><a style="background:lavender">Inventory</a></li>
                    <li><a href="{% url "item_of_user" %}"><span class="glyphicon glyphicon-eye-open"></span> View Posts</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-eye-open"></span> Manage Posts</a></li>

                    <li role="separator" class="divider"></li>

                    <li><a href="{% url "user_logout" %}" style="background:lavender"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </nav>
{% endblock navbar %}

{% block content %}
        <!-- Page Content -->
        <div class="jumbotron">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old..</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}