{% extends "system/index3.html" %}
{% load staticfiles %}

{% block title %}
<title>Ibs| Register</title>
{% endblock title %}

{% block content %}
<div class="main">
  
  <div class="main-inner">

      <div class="container">
  
        <div class="row">
          
          <div class="span12">          
            
            <div class="widget ">
              
              <div class="widget-header">
                <i class="icon-user"></i>
                <h3>Register</h3>
            </div> <!-- /widget-header -->
          
          <div class="widget-content">
            <br>
            
                <form id="edit-profile" class="form-horizontal">
                  {% csrf_token %}
                  <fieldset>

                    <div class="control-group">                     
                      <label class="control-label">First Name</label>
                      <div class="controls">
                        <input type="text" class="span6" id="first_name">
                      </div> <!-- /controls -->       
                    </div> <!-- /control-group -->
                    
                    
                    <div class="control-group">                     
                      <label class="control-label" for="lastname">Last Name</label>
                      <div class="controls">
                        <input type="text" class="span6" id="last_name">
                      </div> <!-- /controls -->       
                    </div> <!-- /control-group -->
                    
                    
                    <div class="control-group">                     
                      <label class="control-label" for="email">Email Address</label>
                      <div class="controls">
                        <input name="email" type="text" class="span4" id="mail" onkeyup="checkMail(); return false;" required>
                        <p id="confirmMail" class="confirmMessage"></p>
                      </div> <!-- /controls -->       
                    </div> <!-- /control-group -->


                    <div class="control-group">                     
                      <label class="control-label" for="email">Contact Number</label>
                      <div class="controls">
                        <input name="contact_number" type="text" class="span4" required>
                      </div> <!-- /controls -->       
                    </div> <!-- /control-group -->
                    
                    
                    <br /><br />
                    
                    <div class="control-group">                     
                      <label class="control-label">Password</label>
                      <div class="controls">
                        <input name="password" type="password" class="span4" id="pass1">
                      </div> <!-- /controls -->       
                    </div> <!-- /control-group -->
                    
                    
                    <div class="control-group">                     
                      <label class="control-label" for="password2">Confirm</label>
                      <div class="controls">
                        <input type="password" class="span4" id="pass2" onkeyup="checkPass(); return false;">
                        <p id="confirmMessage" class="confirmMessage"></p>
                      </div> <!-- /controls -->       
                    </div> <!-- /control-group -->
                      
                     <br />
                    
                      
                    <div class="form-actions">
                      <button type="submit" class="btn btn-primary">Save</button> 
                      <button class="btn">Cancel</button>
                    </div> <!-- /form-actions -->
                  </fieldset>
                </form>
            
          </div> <!-- /widget-content -->
            
        </div> <!-- /widget -->
            
        </div> <!-- /span8 -->
          
          
          
          
        </div> <!-- /row -->
  
      </div> <!-- /container -->
      
  </div> <!-- /main-inner -->
    
</div> <!-- /main -->


<!--script-->
  <script type="text/javascript">
    function checkPass(){
      //Store the password field objects into variables ...
      var pass1 = document.getElementById('pass1');
      var pass2 = document.getElementById('pass2');
      //Store the Confimation Message Object ...
      var message = document.getElementById('confirmMessage');
      //Set the colors we will be using ...
      var goodColor = "#b6ffc7";
      var goodColor_font = "#66cc66"
      var badColor = "#ffdada";
      var badColor_font = "#ff3f3f";
      //Compare the values in the password field 
      //and the confirmation field
      if(pass1.value == pass2.value){
          //The passwords match. 
          //Set the color to the good color and inform
          //the user that they have entered the correct password 
          pass2.style.backgroundColor = goodColor;
          message.style.color = goodColor_font;
          message.innerHTML = "Passwords Match!"
          document.getElementById("submit_button").disabled = false;
      }

      else{
          //The passwords do not match.
          //Set the color to the bad color and
          //notify the user.
          pass2.style.backgroundColor = badColor;
          message.style.color = badColor_font;
          message.innerHTML = "Passwords Do Not Match!"
          document.getElementById("submit_button").disabled = true;
      }
    }

    function checkMail(){
      //for checking a valid mail
      var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      var mail = document.getElementById('mail');
      var message_mail = document.getElementById('confirmMail');

      var goodColor = "#b6ffc7";
      var goodColor_font = "#66cc66"
      var badColor = "#ffdada";
      var badColor_font = "#ff3f3f";

      if(mail.value.match(mailformat)){
        message_mail.innerHTML = "valid mail!"
        mail.style.backgroundColor = goodColor;
        message_mail.style.color = goodColor_font;
      }  
      else{
        message_mail.innerHTML = "Invalid mail"
        mail.style.backgroundColor = badColor;
        message_mail.style.color = badColor_font;
      }
    }

  </script>
{% endblock content %}