{% extends "system/index2.html" %}
{% load staticfiles %}

{% block title %}
<title>Ibs| Login</title>
{% endblock title %}

{% block content %}
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h4>{{ failed }}</h4>
                        <h2>Log-in</h2>
                        <form method="post" class="form-inline" role="form">
                        {% csrf_token %}
                          <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder=" myemail@example.com" required>
                          </div><br>
                          <div class="form-group">         
                            <input type="password" class="form-control" placeholder=" password" name="password" required>
                          </div><br>
                          <div class="form-group">        
                            <button type="submit" class="btn btn-common" id="submit_button" href="{% url "user_login" %}">Log in</button>
                          </div><br>
                          <div class="form-group">        
                            <p href="" style="font-size:16px">Not registered? <a href="{% url "user_add" %}">Sign up now</a></p>
                          </div>
                        </form>
                    </div>

                    <img src="{% static "ibsUIver2/images/home/slider/hill.png" %}" class="slider-hill" alt="slider image">
                    <img src="{% static "ibsUIver2/images/home/slider/house.png" %}" class="slider-house" alt="slider image">
                    <img src="{% static "ibsUIver2/images/home/slider/sun.png" %}" class="slider-sun" alt="slider image">
                    <img src="{% static "ibsUIver2/images/home/slider/birds1.png" %}" class="slider-birds1" alt="slider image">
                    <img src="{% static "ibsUIver2/images/home/slider/birds2.png" %}" class="slider-birds2" alt="slider image">

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->
{% endblock content %}